@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



body{
    font-family: "Lato", sans-serif; /*police d'ecriture*/
    font-weight: 300; 
    font-style: italic;
    margin: 0; /*Supprimer le margin par defaut du navigateur*/
}


/*----------------SIDE BAR (nav)----------------*/
nav{
    background-color: #30336b;
    border-right: 2px solid rgba(200,200,200,0.1);
    position: fixed; /*La position de la nav est fixee et ne bouge pas*/
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh; /*Prendre toute hauteur de l'ecran*/
    z-index: 100;
}
nav .logo{ /*la classe LOGO qui se trouve dans la balise nav*/
    padding: 30px;
    text-align: center;
}

nav .logo img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

nav ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
}

nav ul li{
    border-bottom: 2px solid rgba(200,200,200,0.1);
    width: 80%;
    padding: 20px;
}

/* #premier{
    border-top: 2px solid rgba(200,200,200,0.1);
} */

nav ul li:first-of-type{
    border-top: 2px solid rgba(200,200,200,0.1);
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}


/*--------------FIN NAV BAR---------------*/

/*-------------------HEADER------------*/

header{
    background-color: #30336b;
    border: 0;
    border-radius: 5px;
    position: relative;
    padding: 40px 15px;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 5rem;
    font-weight: 900;
}

header p{
    margin: 30px 0;
    color: white;
}

header button{
    background-color: #be2edd;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 8px 12px;
    outline:none;

}

header button:hover{
    outline:none
}

.toggle{
    background-color: rgba(0, 0, 0,.3);
    position: absolute;
    top: 10px;
    left: 205px;
}
.sign-up{
    padding: 12px 30px;
    font-size: 20px;
}

.container{
    padding: 15px;
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
}